---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
		</style> 
	</head>
	<body>
		<Header />
		<main style="margin-top: 20px;">
			<section >
				<h2>Greetings!</h2>
				<p>Hi, my name is Sajad and I'm from Iran. I (mostly) write in Persian here, if you're interested (in anyway), we can chat...so shoot me an Email at: zareisajad98@gmail.com </p>

				<p>Here in my corner of internet, Iran restricted BS internet! just trying to have some fun :) </p>
				<p>I love my dog, reading books and my laptop (which is a ThinkPad and I love even looking at her. lol). <br> I call myself a junior Python web develper.</p>
				<p>I write about everything here, most of them are boring but I hope that somebody finds them interesting.</p>

				<p>Have fun.</p>
			</section>
		</main>
	</body>
</html>
