---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { getCollection } from 'astro:content';
import FormattedDate from '../components/FormattedDate.astro';

const notes = (await getCollection('notes')).sort(
	(a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={'Notes'} description={SITE_DESCRIPTION} />
		<style>
			main {
				width: 600px;
			}
			.note-item {
				display: flex;
				justify-content:end;
				align-items:start;
				flex-wrap: wrap;
			}

			.post-item h4 {
				font-size: 16px

			}

			.note-item a {
				text-decoration: none;	
			}
			.date {
				margin:0;
				font-size:14px;
			}

			a:hover {
				text-decoration: underline  wavy  !important;
			}
		</style>
	</head>
	<body>
		<main>
			<Header />
			<section >
				<h2>Notes</h2>
				<p>*I keep random/daily notes/updates here:</p>
					{
						notes.map((post) => (
							<div class="note-item">
								<a href={`/notes/${post.slug}/`}>{post.data.title}</a>
								<span  style="margin:0 10px;">-</span>
								<p class="date"><FormattedDate date={post.data.pubDate} /></p>
							</div>
						))
					}
			</section>
		</main>
	</body>
</html>
