---
import HeaderLink from './HeaderLink.astro';
---

<header dir="ltr">
	<nav>
			<h1><a href="/">Sajad Zarei</a></h1>
			<HeaderLink title={'Who am I'} href="/about">About</HeaderLink>
			<HeaderLink title={'Projects'} href="/projects">Projects</HeaderLink>
			<HeaderLink title={'Books I read'} href="/reading">Reading</HeaderLink>
			<HeaderLink title={'Random photos I like'} href="/photos">Photos</HeaderLink>
			<HeaderLink title={'Rss feed'} href="/rss.xml">Rss</HeaderLink>
	</nav>
</header>
<style>

	h1 {
		margin: 0;
		font-size: 1em;
	}	

	h1 a,
	h1 a.active {
		text-decoration: none;
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: start;
		gap: 20px;
		flex-wrap: nowrap;
		overflow-x: auto;
	}




</style>
