---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';

type Props = CollectionEntry<'blog'>['data'];

const { title, description } = Astro.props;
---

<html lang="fa" dir="rtl">
	<head>
		<BaseHead title={title} description={description} />
		<style>

			.title {
				padding: 20px;
				border: 1px solid white;
			}
		</style>
	</head>

	<body >
		<Header />
		<main>
			<article>

				<div class="prose">
					<div class="title">
						<h1>{title}</h1>
					</div>
					<p style="direction:ltr;margin-bottom:0" class="readingTime"></p>
					<slot />
					<span></span>

					
				</div>
			</article>
		</main>

		<script>
			const postContent = document.querySelector('.prose').textContent;
			const wordsArray = postContent.split(' ')
			const wordCount = wordsArray.length;
			const wordsPerMinute = 200;
			const readingTime = Math.ceil(wordCount / wordsPerMinute);
			document.querySelector('.readingTime').textContent = readingTime + ' min read'
		</script>
	</body>
</html>
